
.text-area-fix .text-area  h1 {
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  font-size: 3.5em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.text-area-fix .text-area p {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  font-size: 1.7em;
  margin-bottom: 30px;
}
.text-area-fix .text-area > .but {
  width: 100%;
  text-align: center;
}
.text-area-fix .text-area > .but .buttonc {
  -webkit-transition: all 0.5s ease-in-out !important;
  -moz-transition: all 0.5s ease-in-out !important;
  -ms-transition: all 0.5s ease-in-out !important;
  -o-transition: all 0.5s ease-in-out !important;
  transition: all 0.5s ease-in-out !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 150px;
  color: #fafafa;
  border: 1px solid #03c9a9;
  padding: 10px;
  margin: 0 auto;
  cursor: pointer;
}
.text-area-fix .text-area > .but .buttonc:hover {
  background: #03c9a9;
}
.details-row-one {
  
  background:#1196c7;
  position: relative;
  padding: 20px 0;
}
.details-row-one .content-box h4 {
    color: #ffffff;
    line-height: 60px;
    font-size: 1.6em;
}
.details-row-one .content-box p {
  color: #ffffff;
}
.details-row-second {
  background: #ffffff;
  height: 450px;
  padding: 110px 0 90px;
  position: relative;
}
.details-row-second .content-box h2 {
  color: #333333;
  line-height: 45px;
  font-size: 25px;
}
.details-row-second .content-box p {
  color: #666666;
  line-height: 25px;
}
.details-row-third {
  background: #f4f4f4;
  padding: 110px 0 90px;
  position: relative;
}
.details-row-third .content-box h2 {
  color: #333333;
  margin: 0px;
  padding-bottom: 15px;
  font-size: 2em;
}
.details-row-third .content-box p {
  color: #666666;
  line-height: 25px;
    text-align: justify;
}
.details-row-third .content-box .content-left {
  float: left;
  width: 10%;
}
.details-row-third .content-box .content-right {
  float: left;
  width: 85%;
}
.details-row-third .content-box .details-row {
  padding-top: 10px;
  padding-bottom: 10px;
}
.details-row-third .content-box .details-row .icon-fix {
  color: #03c9a9;
  font-size: 20px;
  padding: 5px;
}
.details-row:before,
.details-row:after {
  z-index: 1;
  content: '';
  display: table;
  clear: both;
}
.details-row-third .content-box a.button {
  -webkit-transition: all 0.5s ease-in-out !important;
  -moz-transition: all 0.5s ease-in-out !important;
  -ms-transition: all 0.5s ease-in-out !important;
  -o-transition: all 0.5s ease-in-out !important;
  transition: all 0.5s ease-in-out !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 150px;
  color: #333333;
  border: 1px solid #03c9a9;
  padding: 5px;
  margin: 0 auto;
  cursor: pointer;
}
.details-row-third .content-box a.button:hover {
  background: #03c9a9;
}
.showcontent {
    cursor: pointer;
    color: #337ab7;
}
